@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@100&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin-left: 5%;
  margin-top: 2%;
}

.container {
  display: flex;
  flex-direction: row;
}
/*#region Left side Description*/

.sidebar {
  margin-top: 8%;
  margin-left: 20%;
  margin-right: 50%;
  width: 300px; /* Sabit sol menü genişliği */
  height: 100vh; /* Sayfanın yüksekliği kadar */
  position: fixed; /* Sabit pozisyon */
  top: 0;
  left: 0;
}

.left-description p {
  font-size: 1rem;
  font-style: italic;
  color: lightslategray;
}

span.ergul-ferik a {
  text-decoration: none;
  font-weight: 0, 800;
  color: white;
}

.middle-description p {
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: white;
  max-width: 50vh;
  overflow: hidden;
}
/*#region Nav Bar*/
.nav a {
  display: inline-block;
  margin: 5px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: lightslategray;
  position: relative;
  cursor: pointer;
}

.nav a:hover {
  font-size: medium;
  color: white;
}

.nav a::before {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  width: 20px;
  height: 3px;
  background-color: lightslategray;
  transition:0.25s ease-out;
}

.nav a:hover::before {
  width: 65px;
  background-color: white;
}
/*#endregion Nav Bar*/
/*#endregion Left side Description*/

/*#region Right Side*/

.contents {
  color: white;
  margin-top: 5%;
  margin-left: 50%;
  margin-right: 15%;
  text-align: center;
  flex: 1;
  padding: 20px;
  height: 100vh;
  flex-direction: row;
}

.contents h1 {
  text-align: center;
  font-size: bolder;
}

.contents p {
  color: white;
}

/*#region Cards*/

.pointer-cursor {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}
#apps h1 {
  cursor: pointer;
}

.card-body p {
  color: lightslategray;
}

.card {
  margin-right: 15%;
  text-align: left;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: 0.3s;
}
.card:hover {
  .card-title {
    color: turquoise;
  }
  box-shadow: 10rem;
  backface-visibility: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(180, 180, 255, 0.04);
  border-radius: 10px;
}

.card-text {
  margin-left: 1rem;
  white-space: pre-line;
}
.card-title {
  margin-left: 1rem;
}

.wiew-all-apps button {
  background-color: transparent;
  margin-right: 70%;
  color: lightslategrey;
}

.wiew-all-apps button:hover {
  color: white;
  background-color: transparent;
}

.card-bottom{
  display: flex;
  align-items: center; 
}

/*#endregion Cards*/

/*#region About Me*/
.about-me p {
  color: lightslategray;
  font-style: normal;
  text-align: left;
  margin-right: 15%;
}

.bold {
  color: white;
}
/*#endregion About Me*/

/*#region extras*/
mat-chip-option {
  background-color: red;
  color: red;
  margin-left: 2%;
  margin-bottom: 2%;
}
mat-chip-option:hover{
  background-color: red;
  color: red;
  cursor: pointer;
  margin-left: 2%;
  margin-bottom: 2%;
}
/*#endregion extras*/

/*#region Contact*/

.contact {
  margin-top: 100%;
}
.instagram {
  color: lightslategray;
  margin-right: 8%;
}

.instagram:hover {
  color: white;
}
.github {
  margin-right: 8%;
  color: lightslategray;
}

.github:hover {
  color: white;
}
.linkedin {
  margin-right: 8%;
  color: lightslategray;
}

.linkedin:hover {
  color: white;
}
.mail {
  margin-right: 8%;
  color: lightslategray;
}

.mail:hover {
  color: white;
}
.cv {
  margin-right: 8%;
  color: lightslategray;
}

.cv:hover {
  color: white;
}
/*#endregion Contact*/

/*#endregion Right Side*/
