
<div class="navBar" *ngIf="currentPage === 'references'">
    <button mat-flat-button
      [routerLink]="['/']"
      class="main"
      (mouseenter)="onMouseEnter('main')"
      (mouseleave)="onMouseLeave('main')"
      >Main</button
    >
    <button mat-flat-button
    [routerLink]="['/references']"
    class="references"
    [style.font-size]="isOnReferences ? '40px' : '20px'"
    [style.color]="isOnReferences ? 'white' : 'lightslategray'"
    (mouseenter)="onMouseEnter('references')"
    (mouseleave)="onMouseLeave('references')"
    >References</button
  >
    <button mat-flat-button
      [routerLink]="['/apps']"
      class="apps"
      (mouseenter)="onMouseEnter('apps')"
      (mouseleave)="onMouseLeave('apps')"
      >Apps</button
    >
  </div>

  <div class="navBar" *ngIf="currentPage === 'apps'">
    <button mat-flat-button
      [routerLink]="['/']"
      class="main"
      (mouseenter)="onMouseEnter('main')"
      (mouseleave)="onMouseLeave('main')"
      >Main</button
    >
    <button mat-flat-button
    [routerLink]="['/apps']"
    class="apps"
    [style.font-size]=" isOnApps ? '40px' : '20px'"
    [style.color]="isOnApps? 'white' : 'lightslategray'"
    (mouseenter)="onMouseEnter('apps')"
    (mouseleave)="onMouseLeave('apps')"
    >Apps</button
  >
    <button mat-flat-button
    [routerLink]="['/references']"
    class="references"
    (mouseenter)="onMouseEnter('references')"
    (mouseleave)="onMouseLeave('references')"
    >References</button
  >

  </div>